#structure h2 {padding: 0px 0 10px 10px;}
header h1 {float: left;position: relative;top: 22px;left: 10px;}
header ul {position: relative;top: 16px;}
header h1 a{width: auto;height: auto;display: block;text-decoration: none;text-indent: 0px;background: none;color: white;font: normal 18px/1 proxima-nova, helvetica, arial, sans-serif;}
section {padding-top: 40px;}

#pieces li {margin: 0 10px 20px 0px;}
#pieces div {background-color: black;}
header li {display: block;float: left;}
#base ul li, #social li {display: block;float: left;}
#gallery li {display:inline;}
#menu {margin: 0px auto;position: relative;bottom: 25px;text-align: center !important;}
#hideaways ul {width: 300px;}

#pieces {position: relative;left: 10px;padding-bottom: 40px;clear: both;}
#pieces li {border: 1px solid #999;margin: 0px 10px 10px 0px}
#pieces div {cursor: pionter;position: absolute;top: 0px;left: 0px;z-index: 990;}
#pieces img {position: relative;z-index: 999;}
#pieces a:hover img {display: none;}
#pieces a:hover div {top: 0px;}

#firstarticle {padding: 40px 0 20px 0;border-bottom: 1px solid #dedede;overflow: visible;}
#firstarticle a {border: none;color: black;display: block;margin: 0px auto;text-decoration: none;}
#portfolio #structure {padding-bottom: 40px;}