header ul {float: right;line-height: 63px;}
header a[href="http://twitter.com/bradyjfrey"] {font-size: 0px;text-indent: 0px;position: relative;top: 2px;}
header li a {border: 1px solid transparent;}
header li a:hover {background-color: #313436;border: 1px solid #313436;}
#current a {background-color: #313436;}
header li a:active {background-color: #313436;}


#pieces li {margin: 0 10px 20px 0px;}
#pieces div {background-color: black;}
header li {display: block;float: left;}
#base ul li, #social li {display: block;float: left;}
#gallery li {display:inline;}
#menu {margin: 0px auto;position: relative;bottom: 25px;text-align: center !important;}

#pieces {position: relative;left: 10px;}
#pieces li {border: 1px solid #999;margin: 0px 10px 10px 0px}
#pieces div {cursor: pionter;position: absolute;top: 0px;left: 0px;z-index: 990;}
#pieces img {position: relative;z-index: 999;}
#pieces a:hover img {display: none;}
#pieces a:hover div {top: 0px;}

#firstarticle {padding: 40px 0 20px 0;border-bottom: 1px solid #dedede;overflow: visible;}
#firstarticle a {border: none;color: black;display: block;margin: 0px auto;text-decoration: none;}