* {padding: 0;margin: 0;}
body {font: 12px/1.5 helvetica, verdana, sans-serif;background: black url(images/background.gif) repeat-x top left;color: white;text-align: center;}
h1 {width: 900px;height: 440px;background: transparent url(images/cclass.jpg) no-repeat top left;text-indent: -9999px;margin: 0 auto;}

ul {padding: 0 0 20px 0;margin: 0 auto;clear: both;width: 900px;}
ul li {width: 450px;float: left;list-style-type: none;}
h2 {font-size: 22px;padding: 0 0 15px 0;}
cite {display: block;}
cite a {margin: 0 auto;text-decoration: none;display: block;background: transparent url(images/models.png) no-repeat top left;width: 288px;height: 41px;text-indent: -9999px;display: block;}
#sf a {width: 336px;background-image: url(images/sfmodels.png);}

h3, p {color: #585858;clear: both;width: 400px;margin: 30px auto;}
h3 {padding: 50px 0 0 0;font-weight: bold;}
