* {margin: 0;padding: 0;}
body {color: white;font: normal 12px/1.5 helvetica, verdana, sans-serif;text-align: center;background: black url(images/background.gif) repeat-x top left;}
h1 {width: 900px;height: 440px;background: transparent url(images/cclass.jpg) no-repeat top left;margin: 0 auto;text-indent: -9999px;}
h2 {font-size: 24px;padding: 15px 0 5px 0;}

ul {margin: 0 auto;width: 900px;padding: 0 0 20px 0;}
ul li {width: 450px;float: left;list-style-type: none;}
cite {display: block;}
cite a {margin: 0 auto;text-decoration: none;width: 288px;height: 41px;background: transparent url(images/models.png) no-repeat top left;text-indent: -9999px;display: block;}
#sf a {width: 336px;background-image: url(images/sfmodels.png);}

h3, p {clear: both;color: #333;margin: 30px auto;width: 400px;}
h3 {padding-top: 40px;}